<div class="course-editor row">
	<div class="col-12">{{titleEditor}}</div>
	<form class="col-12" (submit)="onSubmit()" [formGroup]="formGroup">
		<app-loader *ngIf="isLoading"></app-loader>
		<div class="row" *ngIf="!isLoading">
			<div class="col-12">
				<div class="form-group">
					<label class="" for="name">title</label>
					<input
						class="form-control"
						[formControlName]="formFields.name"
						type="text"
						id="name"
						name="name">

					<app-errors-input
						*ngIf="formGroup.controls.name.touched"
						[errors]="formGroup.controls.name.errors"
						[fieldName]="'name'"
					></app-errors-input>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="description">description</label>
					<textarea
						class="form-control form-text"
						[formControlName]="formFields.description"
						id="description"
						name="description"></textarea>

					<app-errors-input
						*ngIf="formGroup.controls.description.touched"
						[errors]="formGroup.controls.description.errors"
						[fieldName]="'description'"
					></app-errors-input>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="date">date</label>
					<input
						class="form-control"
						[formControlName]="formFields.date"
						type="text"
						id="date" name="date">

					<app-errors-input
						*ngIf="formGroup.controls.date.touched"
						[errors]="formGroup.controls.date.errors"
						[fieldName]="'date'"
					></app-errors-input>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="length">Duration</label>
					<app-input-duration
						name="length"
						id="length"
						[formControl]="formGroup.controls.duration"
						[fieldName]="'Duration'"
						appDurationValidator
						required
					></app-input-duration>
				</div>
			</div>
			<!-- TODO: add field authors -->
			<div class="col-12">
				<button
					class="btn btn-primary"
					[disabled]="!this.formGroup.valid"
					type="submit">{{titleSubmit}}</button>
			</div>
		</div>
	</form>
</div>
