<div class="course-editor row">
	<div class="col-12">{{titleEditor}}</div>
	<form class="col-12" (submit)="onSubmit()" [formGroup]="formGroup">
		<app-loader *ngIf="isLoading"></app-loader>
		<div class="row" *ngIf="!isLoading">
			<div class="col-12">
				<div class="form-group">
					<label class="" for="name">title</label>
					<input
						class="form-control"
						[formControlName]="formFields.name"
						type="text"
						id="name"
						name="name">
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="description">description</label>
					<textarea
						class="form-control form-text"
						[formControlName]="formFields.description"
						id="description"
						name="description"></textarea>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="date">date</label>
					<input
						class="form-control"
						[formControlName]="formFields.date"
						type="text"
						id="date" name="date">
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="" for="length">Duration</label>
					<input
						class="form-control"
						[formControlName]="formFields.duration"
						type="text"
						id="length"
						name="length">
					<div
						class="alert alert-danger"
						*ngIf="formGroup.controls.duration.touched && formGroup.controls.duration.errors">
						<ol class="m-0">
							<li *ngIf="formGroup.controls.duration.errors.required">
								Field duration required
							</li>
							<li *ngIf="formGroup.controls.duration.errors.max">
								Max: {{formGroup.controls.duration.errors.max.max}}
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- TODO: add field authors -->
			<div class="col-12">
				<button
					class="btn btn-primary"
					[disabled]="!this.formGroup.valid"
					type="submit">{{titleSubmit}}</button>
			</div>
		</div>
	</form>
</div>
