<div class="row no-gutters">
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<app-search-input
			(startSearch)="onStartSearch($event)"></app-search-input>
	</div>
	<div class="col-12">
		<course-btn-add></course-btn-add>
	</div>
	<div class="col-12">
		<courses-list
			[listCourses]="listCourses"
			[refreshListCourses]="refreshListCourses.bind(this)"></courses-list>
	</div>
	<div class="col-12 text-center">
		<courses-load-more
			[loadMore]="loadMore.bind(this)"
			[listCourses]="listCourses"></courses-load-more>
	</div>
</div>
