<div class="app">
	<div class="container">
		<div class="row app__row">
			<header class="col-12 app__header">
				<app-header [title]="title"></app-header>
			</header>
			<div class="col-12">
				<app-breadcrumbs [items]="breadcrumbs.items"></app-breadcrumbs>
			</div>
			<div class="col-12 app__content">
				<login-form [isAuth]="isAuth" *ngIf="!isAuth"></login-form>
				<app-page-courses *ngIf="isAuth"></app-page-courses>
			</div>
		</div>
	</div>
	<!--
		<footer class="app__footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<app-footer></app-footer>
					</div>
				</div>
			</div>
		</footer>
	-->
</div>
