.app-rating {
	display: flex;
	flex-wrap: nowrap;

	&__title {
		padding-right: 0.5rem
	}

	&__stars {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
	}

	&__stars-item {
		&--active {
			color: #ff0;
		}
	}
}
