.app {
	/*height: 100vh;*/
	/*max-height: 100vh;*/
	/*flex-direction: row;*/
	/*display: flex;*/
}

.app__row {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*flex-direction: column;*/
	/*min-height: 100vh;*/
}


.app__content {
}

.app__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}


.form-group {
	.ng-invalid {
		border-color: red;

		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
		}
	}
}
